# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# ----------------------
# Databases
# ----------------------
*.db
*.sqlite
postgres-data/
pgdata/

# ----------------------
# Event data (raw / generated)
# ----------------------
data/raw/
data/processed/
*.csv
*.parquet
*.jsonl

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS / Editor
# ----------------------
.DS_Store
.vscode/
