
# Python


__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/


# Environment variables


.env
*.env


# macOS

.DS_Store


# Logs


*.log


# IDE / Editors


.vscode/
.idea/


# Testing / Coverage


.pytest_cache/
.coverage
htmlcov/


# Build / Distribution


dist/
build/
*.egg-info/



.ipynb_checkpoints/


# Temporary files


*.swp
*.tmp
